# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.qm
.qmake.stash
.build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src-qt5/Makefile
src-qt5/*/Makefile
src-qt5/*/*/Makefile
src-qt5/networkmgr/trident-networkmgr
src-qt5/updatemgr/susysup/.susysup
src-qt5/updatemgr/susysup/Makefile
src-qt5/updatemgr/trident-updatemgr/Makefile
src-qt5/updatemgr/trident-updatemgr/trident-updatemgr
src-qt5/networkmgr/Makefile
src-qt5/networkmgr/trident-networkmgr
