[Desktop Entry]
Exec=sudo -n /usr/local/bin/trident-networkmgr
TryExec=/usr/local/bin/trident-networkmgr
Icon=preferences-system-network
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;Utility;
Name=Networking
GenericName=Network Settings Manager
Comment=Network Settings
